html
  head
    title oi
    meta(name='viewport',content='width=device-width, initial-scale=1')
    link(rel='stylesheet',href='css/style.css')
  body

    header.Header
      .Scene
        .Scene-sky
        canvas.Scene-stars
        canvas.Scene-mountains
      h1.Title
        div.Title-big Lucas Bebber
        div.Title-small Creative Developer
    section
      h2 About
      p hello

    include shaders
    script(src='js/main.js')
