html
  head
    title oi
    meta(name='viewport',content='width=device-width, initial-scale=1')
    link(rel='stylesheet',href='css/style.css')
  body

    header.Header.js-HasVH
      .Scene
        .Scene-sky
        canvas.Scene-stars
        canvas.Scene-mountains(stop-on-scroll='true')
      h1.Title
        span.Title-big.Title-Center(aria-label='Lucas Bebber') 
          span.Title-Center-left(aria-hidden='true') Lucas 
          span.Title-Center-right(aria-hidden='true') Bebber
        span.Title-small.Title-Center(aria-label='Creative Developer')
          span.Title-Center-left(aria-hidden='true') Creative 
          span.Title-Center-right(aria-hidden='true') Developer
        img.Title-separator(src='img/separator-green.svg',role='presentation')
    main
      .container
        section
          h2 About
          p.heading Developer working on creating rich, interesting, and at the same time performant and usable experiences for the web.
          p Part time illustrator.
          p Currently working at <a href='http://gardenestudio.com.br'>Garden Estúdio</a>.
        section
          h2 Work
          ul.Works
            - var title="Teste"
            - var subtitle='Subtitulo'
            - var description='Descricao'
            - var link='http://yahoo.com'
            - var label='See the project'
            include work
            include work
        footer
          h2 Contact
          .text-center
            .Contact-heading You can drop me a line at
            a.Email lucasbbebber at gmail dot com
            .Social
              .Contact-heading You can find me at
              a.Social-link(href='http://codepen.io/lbebber') <strong>codepen</strong>.io/<span class='underline'>lbebber</span>
              a.Social-link(href='http://twitter.com/lucasbebber') <strong>twitter</strong>.com/<span class='underline'>lucasbebber</span>
              a.Social-link(href='http://dribbble.com/lucasbebber') <strong>dribbble</strong>.com/<span class='underline'>lbebber</span>

    .Scene--bottom
      canvas.Scene-mountains.Scene-mountains--bottom
    script.
      function lazyLoad(s) {
        var d = window.document,
            b = d.body,
            e = d.createElement("script");
        e.async = true;
        e.src = s;
        b.appendChild(e);
      }
      lazyLoad('js/main.js')
