html
  head
    title Lucas Bebber
    meta(name='viewport',content='width=device-width, initial-scale=1')
    link(rel='stylesheet',href='css/style.css')
  body

    header.Header.js-HasVH(data-vh='0.75')
      nav
        a.Nav-link(href='#about') About
        a.Nav-link(href='#work') Work
        a.Nav-link(href='#contact') Contact
      .Scene
        .Scene-sky
        canvas.Scene-stars
        canvas.Scene-mountains(data-stop-on-scroll='true')
      h1.Title
        span.Title-big.Title-Center(aria-label='Lucas Bebber') 
          span.Title-Center-left(aria-hidden='true') Lucas 
          span.Title-Center-right(aria-hidden='true') Bebber
        span.Title-small.Title-Center(aria-label='Creative Developer')
          span.Title-Center-left(aria-hidden='true') Creative 
          span.Title-Center-right(aria-hidden='true') Developer
        img.Title-separator(src='img/separator-green.svg',role='presentation')
    main
      .container
        section
          h2 About
          p.heading Developer working on creating rich, interesting, and at the same time performant and usable experiences for the web.
          p Focusing on user interfaces, performance, and animation. Also works with back-end development, design, and illustration.
          p Currently working at <a href='http://gardenestudio.com.br'>Garden Estúdio</a>. Based in Rio Grande do Sul - Brazil.
        section
          h2 Work
          ul.Works
            - var title='Rain Effect'
            - var subtitle='Experiment/Codrops'
            - var description='Relatively lightweight realistic raindrops-on-a-window effect, with WebGL.'
            - var link='http://yahoo.com'
            - var label='See the project'
            - var image='img/rain.jpg'
            include work

            - var title='Heat Haze Effect'
            - var subtitle='Experiment/Codrops'
            - var description='Relatively lightweight realistic heat haze effect, with WebGL.'
            - var link='http://tympanus.net/codrops/2016/05/03/animated-heat-distortion-effects-webgl/'
            - var label='See the project'
            - var image='img/haze.jpg'
            include work

            - var title='Storytelling Map'
            - var subtitle='Storytelling/Codrops'
            - var description='Animated map for interactive storytelling.'
            - var link='http://tympanus.net/codrops/2016/05/03/animated-heat-distortion-effects-webgl/'
            - var label='See the project'
            - var image='img/map.jpg'
            include work

            - var title='Elastic Progress'
            - var subtitle='Interface Animation/Codrops'
            - var description='SVG animation for a playful download button.'
            - var link='http://tympanus.net/codrops/2015/09/23/elastic-progress/'
            - var label='See the project'
            - var image='img/elastic.jpg'
            include work
        footer
          h2 Contact
          .text-center
            .Contact-heading You can drop me a line at
            a.Email lucasbbebber at gmail dot com
            .Contact-heading You can find me at
            .Social
              a.Social-link(href='http://codepen.io/lbebber') <strong>codepen</strong>.io/<strong>lbebber</strong>
              a.Social-link(href='http://twitter.com/lucasbebber') <strong>twitter</strong>.com/<strong>lucasbebber</strong>
              a.Social-link(href='http://dribbble.com/lucasbebber') <strong>dribbble</strong>.com/<strong>lbebber</strong>

    .Scene--bottom
      canvas.Scene-mountains.Scene-mountains--bottom
    script.
      function lazyLoad(s) {
        var d = window.document,
            b = d.body,
            e = d.createElement("script");
        e.async = true;
        e.src = s;
        b.appendChild(e);
      }
      lazyLoad('js/main.js')
