html
  head
    title oi
    meta(name='viewport',content='width=device-width, initial-scale=1')
    link(rel='stylesheet',href='css/style.css')
  body

    header.Header.js-HasVH
      .Scene
        .Scene-sky
        canvas.Scene-stars
        canvas.Scene-mountains(stop-on-scroll='true')
      h1.Title
        span.Title-big.Title-Center 
          span.Title-Center-left Lucas 
          span.Title-Center-right Bebber
        span.Title-small.Title-Center
          span.Title-Center-left Creative 
          span.Title-Center-right Developer
        img.Title-separator(src='img/separator-green.svg',aria-role='presentation')
    section
      .container
        section
          h2 About
          p I'm a blabla
        section
          h2 Work
          ul.Works
            include work
            include work
            include work
            include work
            include work
            include work
            include work
            include work
            include work
        section
          h2 Contact
          a(href='mailto:lucasbbebber@gmail.com') lucasbbebber at gmail dot com

    .Scene--bottom
      canvas.Scene-mountains.Scene-mountains--bottom
    include shaders
    script(src='js/main.js')
