html
  head
    title oi
    meta(name='viewport',content='width=device-width, initial-scale=1')
    link(rel='stylesheet',href='css/style.css')
  body

    header.Header.js-HasVH
      .Scene
        .Scene-sky
        canvas.Scene-stars
        canvas.Scene-mountains
      h1.Title
        span.Title-big.Center 
          span.Center-left Lucas
          span.Center-right Bebber
        span.Title-small.Center
          span.Center-left Creative
          span.Center-right Developer
        img(src='img/separator.svg')
    section
      .container
        h2 About
        p I'm a blabla
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br
        br

    .Scene--bottom
      canvas.Scene-mountains.Scene-mountains--bottom
    include shaders
    script(src='js/main.js')
