script(id='vs',type='x-shader/vertex').
  attribute vec3 position;

  void main() {

    gl_Position = vec4( position, 1.0 );

  }


script(id='fs',type='x-shader/fragment').
  uniform float time;
  uniform vec2 resolution;
  uniform sampler2D image;

  void main( void ) {

    vec2 position=gl_FragCoord.xy/resolution;
    position=vec2(position.x,1.0-position.y);
    float threshold=0.5;
    if(position.y>threshold){
      float dist=(position.y-threshold)/(1.0-threshold);
      float p=dist*dist;
      float timeP=10.0;
      // position.x+=cos((dist*50.0)-(time*timeP))*0.02*p;
      position.y+=cos((dist*(90.0))-(time*timeP))*0.09;//*p;
    }
    gl_FragColor = texture2D(image,position);

  }

</script> 

