li.Work
  div.Work-text
    h3.Work-title
      | Rain Effect
      .Work-subtitle Codrops
    p ddfsdf sadfsdgdsgsd fgfg
    a.Work-link(href='http://google.com')
      | See the Project
  div.Work-image

