whiteish = #FFEDDB
yellow = #F7F7B6
pink = #E96F92
purple = #75517D
blackish = #1B2947
green = #54fad4

body
  background whiteish
  margin 0
  padding 0

absolute-fill()
  position absolute
  top 0
  left 0
  right 0
  bottom 0

.Header
  position relative
  height 66vh

.Scene
  absolute-fill()

.Scene-sky
  absolute-fill()
  background linear-gradient(#1B2947, #282F51, #36365A, #443C63, #52426B, #614973, #704F7B, #815482, #935988, #A55D8D, #B86291, #CB6692, #DD6B93, #EC7691, #F18C90, #F3A195, #F3B6A0, #F3C9B2, #F3DCC7, #F6EDE1)

.Scene-stars
  absolute-fill()
  width 100%
  height 100%

.Scene-mountains
  position absolute
  bottom 0
  left 0
  width 100%
  height 300px
  transform translate(0,50%)
